# HTTP server settings
PORT=3000
ALLOW_SELF_SIGNED=false

# TrueConf API credentials
SERVER=https://your.trueconf.server
CLIENT_ID=your_client_id
CLIENT_SECRET=your_client_secret
CONF_OWNER_TRUECONF_ID=your_trueconf_username

CONF_TOPIC_TEMPLATE=Meeting with {{name}}
# {{name}} - placeholder for pacient name