button {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  background: none;
  border: none;
  margin: 0;
  padding: 0;
  font: inherit;
  color: inherit;
  user-select: none;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
    margin: 0;
    padding: 0;
    height: 100vh;
    background: -webkit-linear-gradient(121deg, #0cbccf, #0e91a0);
    background: linear-gradient(121deg, #0cbccf, #0e91a0);
    position: relative;
    overflow: hidden;
}

main {
  font-family: "Open Sans", sans-serif;
  color: white;
  display: block;
  position: relative;
  height: 100%;
}

.menu {
  display: grid;
  grid-template-columns: max-content 1fr;
  gap: 8px 16px;
  align-items: center;
  margin: 0 auto;
  margin-top: 20px;
}

.reg {
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
  max-width: 500px;
  width: 100%;
  z-index: 10;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  width: calc(450px + 40px + 2px);
  top: 38vh;
  max-height: calc(100vh - 2 * 20px);
  overflow-y: auto;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 20;
    display: none;
}

.iframe-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 30;
    display: none;
}

.iframe-container iframe {
    width: 75vw;
    height: 75vh;
    border: none;
    margin: 0;
    padding: 0;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    box-sizing: border-box;
}

#fetchBtn {
    margin-top: 20px;
    font-size: 24px;
    padding: 8px;
    background-color: none;
    width: 100%;
    border: 1px solid white;
    border-radius: 8px;
}

#fetchBtn:disabled {
    opacity: 0.6;
    cursor: not-allowed;
}

#result {
    color: white;
    max-width: 300px;
    margin: 20px auto;
    width: fit-content;
    font-size: 24px;
    font-family: "Open Sans", sans-serif;
    position: relative;
    z-index: 40;
}

.j7 {
  font-size: 24px;
}

#result[data-variant="error"] {
  color: #ffb4b4;
}

#result[data-variant="success"] {
  color: #b7ffb0;
}

#result[data-variant="info"] {
  color: white;
}

body.conference-active .reg {
    display: none;
}

body.conference-active .overlay {
    display: block;
}

body.conference-active .iframe-container {
    display: flex;
}

#name{
  font-size: 20px;
}

.language-switcher{
  position: absolute;
  top: 50px;
  right: 100px;
}

.language-switcher > a{
  color: white;
}